* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1470px;
    margin: 0 auto; /* центрируем объект */
    width: 90%;
}

header {
    position: relative;
    height: 260px;
}

/* Старт контейнер 1 */

.container1 .burger {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    display: inline-block; /* строчно блочный элемент */
    border-radius: 50%;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 57px;
}

.container1 .burger .line {
    width: 18px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin: 0 auto;
}

.container1 .burger .line:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container1 .burger .line:first-child {
    margin-top: 22px;
}

.container1 .burger:hover {
    /* анимация */
    box-shadow: 0 0 15px 20px #a8d8ff;
    transition: 0.5s ease-in-out; /* задержка аниимации */
    cursor: pointer; /* меняет картинку курсора */
}

.container1 .logo {
    display: inline-block;
    width: 412px;
    height: 412px;
    border-radius: 50%;
    box-shadow: 0 0 25px 60px #f6f9fc;
    position: absolute;
    left: calc(50% - 206px);
    top: -206px;
    text-align: center;
}

.container1 .logo .name {
    margin-top: calc(206px + 57px);
    font-size: 48px;
    color: #49a9ff;
    font-weight: 600;
}

.container1 .logo .desc {
    font-size: 18px;
    font-weight: bold;
    color: #e6e7e9;
    text-transform: uppercase; /* все буквы строчные */
}

.container1 .search {
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 21px;
}

/* Финиш контейнер 1 */

/* Старт контейнер 2 */

.container2 {
    background-image: url("./images/background_head.png");
    height: 1000px;
    background-repeat: no-repeat; /* нет повторений картинки */
    background-position-x: 53%;
    text-align: center;
    margin-top: 173px;
}

.container2 h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 600;
}

.container2 p {
    padding-top: 28px;
    font-size: 18px;
    color: #d2d5d8;
}

.container2 .btn {
    text-decoration: none; /* убрали подчёркивание */
    color: #43a9ff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 88px;
    display: inline-block;
    padding: 21px 42px;
    border-radius: 30px;
    background-color: #ffffff;
}

.container2 .btn:hover {
    box-shadow: 0 0 15px 20px #a8d8ff;
    transition: 0.5s ease-in-out;
}

.container2 .btn:focus {
    box-shadow: 0 0 15px 20px #7fb7f0;
}

/* Финиш контейнер 2 */

/* Старт контейнер 3 */

.container3 {
    text-align: center;
}

.container3 p {
    margin-top: 111px;
    font-size: 18px;
    color: #d2d5d8;
}

.container3 h2 {
    margin-top: 18px;
    font-size: 48px;
    font-weight: 600;
}

.container3 .cards .item {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 50px 2.3%;
}

.container3 .img_icon {
    width: 20%;
    margin: 38px auto;
}

.container3 .cards .item h3 {
    font-size: 18px;
}

.container3 .cards .item h5 {
    margin-top: 48px;
    font-size: 14px;
    color: #d2d5d8;
    line-height: 1.9; /* межстрпочный интервал */
}

.container3 .btn {
    text-decoration: none; /* убрали подчёркивание */
    color: #43a9ff;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 15px 20px #f4f7fa;
    margin-top: 5%;
    margin-bottom: 8%;
    display: inline-block;
    padding: 21px 42px;
    border-radius: 30px;
    background-color: #ffffff;
}

.container3 .btn:hover {
    box-shadow: 0 0 15px 20px #a8d8ff;
    transition: 0.5s ease-in-out;
}

.container3 .btn:focus {
    box-shadow: 0 0 15px 20px #7fb7f0;
}

/* Финиш контейнер 3 */

/* Старт контейнер 6 */

.container6 {
    background-color: #f7f8fb;
}

.container6 .content {
    display: flex;
    justify-content: space-between;
}

.container6 .content .img_cont6 {
    width: 50%;
    margin-bottom: -5px;
}

.container6 .content .img_cont6 img {
    max-width: 100%;
}

.container6 .content .conten_text {
    width: 50%;
    padding-left: 120px;
}

.container6 .content .conten_text h2 {
    font-size: 48px;
    color: #fe3254;
    padding-bottom: 35px;
    padding-top: 30%;
}

.container6 .content .conten_text p {
    line-height: 1.9;
    font-size: 16px;
    color: #d2d5d8;
}

.container6 .content .conten_text .text_black {
    padding-top: 10%;
    color: #000000;
    font-weight: bold;
}

/* Финиш контейнер 6 */
